<footer>
    <h2>&copy; Julio's Mexican Recipes</h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/recipes/new">Create</a></li>
        </ul>
    </nav>
</footer>