<header>
        <h1>
          <span class="title">Julio
            <span class="apostrophe"></span>
            s
          </span>
          Mexican Recipes
        </h1>
      
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/recipes/new">Create</a></li>
        </ul>
    </nav>
</header>