<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: "Julio's Mexican Recipes"}) %>
    <link rel="stylesheet" href="/styles/404.css">
</head>

<body>
    <div class="section">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <p>Sorry, the page you're looking for cannot be found.</p>
        <a href="/">Go to Julio's Mexican Recipes Homepage</a>
    </div>
</body>

</html>