main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    text-align: center;
}

body {
    background-image: linear-gradient(to right, rgba(76, 175, 80, 1) , #BF1000);
    color: #333;
}

.read {
    background-color: #d6d6d6; /* Background for cards */
    padding-top: 50px;
}

img {
    width: 60%;
    min-width: 300px;
    height: 30%;
    min-height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.recipe-name {
    font-size: 60px;
    margin-bottom: 10px;
    font-family: PresTequila;
    letter-spacing: 2px;
}

section {
    text-align: left;
    margin: 0 20%;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

.featured {
    background-color: #ffd700;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.review {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgba(254, 193, 150, 0.7);
}

input {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #BF1000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 4px;
    font-family: Santiago;
    font-weight: 700;
    border: none;
}

input:hover {
    background-color: rgb(54, 124, 57);
}

.actions {
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
