/* Main content styles */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}
body{
    background-image: linear-gradient(to right, rgba(76, 175, 80, 1) , #BF1000);
}

header {
    background-color: rgba(255, 193, 7, 1);
}

footer {
    background-color: rgba(255, 193, 7, 1);
}



.listings {
    margin-top: 50px;
}

.listings h1 {
    /* margin-bottom: 20px; */
    text-align: center;
    /* font-size: 50px; */
    font-size: 70px;
    margin-bottom: 1rem;
    font-family: PresTequila;
    letter-spacing: 3px;
}

.listings ul {
    list-style: none;
    padding: 0;
}

.listings li {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 4px;
    position: relative;
    text-align: center;
    width: 75%;
    overflow: hidden;
    background-color: #d6d6d6; /* Background for cards */
}

.listings li img {
    max-width: 100%;
    max-height: 750px;
    object-fit: cover;
}

figcaption {
    text-align: left;
    background-color: rgba(255, 193, 7, 1);
    padding: 2%;
}

.listings li h4 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: PresTequila;
    letter-spacing: 3px;
}

.listings li p {
    font-size: 16px;
    margin-bottom: 10px;
}

.listings li a {
    /* background-color: white; */
    background-color: #BF1000;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    text-decoration: none;
}

.listings li a:hover {
    background-color: rgb(54, 124, 57);
}
